.dedia, .denoche, .blog, .circulo_ficha, .flecha_dcha, .mParada, .uparada, .correspondencia, .circulo_trans2, .submenu, .mainsubmenu, .mainsubmenuh, .banda_header, .banda_footer, .begiak, .menu_mediodia, .kantina_txiki{
	background: url(sprites.png) no-repeat;
}

.dedia{
	background-position: -88px 0;
	width: 80px;
	height: 80px;
}

.denoche{
	background-position: -265px 0;
	width: 80px;
	height: 80px;
}

.blog{
	background-position: -172px 0;
	width: 80px;
	height: 80px;
}

.circulo_ficha{
	background-position: -299px -2px ;
	width: 56px;
	height: 56px;
}

.flecha_dcha{
	background-position: -368px -9px ;
	width: 25px;
	height: 19px;
}

.mParada{
	background-position: -400px 0;
	width: 16px;
	height: 52px;
}

.uparada{
	background-position: -497px 0;
	width: 16px;
	height: 21px;
}

.correspondencia{
	background-position: -566px 0;
	width: 12px;
	height: 12px;
}

.circulo_trans2{
	background-position: -301px -68px ;
	width: 30px;
	height: 30px;
}

.submenu{
	background-position: -296px -69px ;
	width: 20px;
	height: 40px;
}

.mainsubmenu{
	background-position: -351px -80px ;
	width: 9px;
	height: 20px;
}

.mainsubmenuh{
	background-position: -401px -77px ;
	width: 9px;
	height: 20px;
}

.banda_header{
	background-position: 0 -102px ;
	width: 500px;
	height: 39px;
}

.banda_footer{
	background-position: -1px -197px ;
	width: 500px;
	height: 50px;
}

.begiak{
	background-position: -529px -163px ;
	width: 98px;
	height: 26px;
}

.menu_mediodia{
	background-position: 0 -251px ;
	width: 75px;
	height: 75px;
}

.kantina_txiki{
	background-position: -99px -251px ;
	width: 100px;
	height: 140px;
}

