@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&family=Roboto+Slab:wght@300;400&display=swap");
.mt-0 {
    margin-top: 0rem !important
}

.pt-0 {
    padding-top: 0rem !important
}

.mb-0 {
    margin-bottom: 0rem !important
}

.pb-0 {
    padding-bottom: 0rem !important
}

.ml-0 {
    margin-left: 0rem !important
}

.pl-0 {
    padding-left: 0rem !important
}

.mr-0 {
    margin-right: 0rem !important
}

.pr-0 {
    padding-right: 0rem !important
}

.mt-1 {
    margin-top: 1rem !important
}

.pt-1 {
    padding-top: 1rem !important
}

.mb-1 {
    margin-bottom: 1rem !important
}

.pb-1 {
    padding-bottom: 1rem !important
}

.ml-1 {
    margin-left: 1rem !important
}

.pl-1 {
    padding-left: 1rem !important
}

.mr-1 {
    margin-right: 1rem !important
}

.pr-1 {
    padding-right: 1rem !important
}

.mt-2 {
    margin-top: 2rem !important
}

.pt-2 {
    padding-top: 2rem !important
}

.mb-2 {
    margin-bottom: 2rem !important
}

.pb-2 {
    padding-bottom: 2rem !important
}

.ml-2 {
    margin-left: 2rem !important
}

.pl-2 {
    padding-left: 2rem !important
}

.mr-2 {
    margin-right: 2rem !important
}

.pr-2 {
    padding-right: 2rem !important
}

.mt-3 {
    margin-top: 3rem !important
}

.pt-3 {
    padding-top: 3rem !important
}

.mb-3 {
    margin-bottom: 3rem !important
}

.pb-3 {
    padding-bottom: 3rem !important
}

.ml-3 {
    margin-left: 3rem !important
}

.pl-3 {
    padding-left: 3rem !important
}

.mr-3 {
    margin-right: 3rem !important
}

.pr-3 {
    padding-right: 3rem !important
}

.mt-4 {
    margin-top: 4rem !important
}

.pt-4 {
    padding-top: 4rem !important
}

.mb-4 {
    margin-bottom: 4rem !important
}

.pb-4 {
    padding-bottom: 4rem !important
}

.ml-4 {
    margin-left: 4rem !important
}

.pl-4 {
    padding-left: 4rem !important
}

.mr-4 {
    margin-right: 4rem !important
}

.pr-4 {
    padding-right: 4rem !important
}

.mt-5 {
    margin-top: 5rem !important
}

.pt-5 {
    padding-top: 5rem !important
}

.mb-5 {
    margin-bottom: 5rem !important
}

.pb-5 {
    padding-bottom: 5rem !important
}

.ml-5 {
    margin-left: 5rem !important
}

.pl-5 {
    padding-left: 5rem !important
}

.mr-5 {
    margin-right: 5rem !important
}

.pr-5 {
    padding-right: 5rem !important
}

.p-0 {
    padding: 0 !important
}

.p-1 {
    padding: 1rem
}

.p-2 {
    padding: 2rem
}

.p-3 {
    padding: 3rem
}

.p-4 {
    padding: 4rem
}

.mb-05 {
    margin-bottom: .5rem
}

.mb-xs-1 {
    margin-bottom: 1rem
}

@media (min-width: 576px) {
    .mb-xs-1 {
        margin-bottom: 0
    }
}

.mb-xs-2 {
    margin-bottom: 2rem
}

@media (min-width: 576px) {
    .mb-xs-2 {
        margin-bottom: 0
    }
}

body {
    font-family: "Work Sans", sans-serif;
    color: #000;
    font-size: 1.5rem
}

a,
a:focus,
a:visited {
    color: #E6047C;
    text-decoration: none
}

a:hover,
a:focus:hover,
a:visited:hover {
    text-decoration: none;
    color: #bb1266
}

.small,
small {
    font-size: 13px
}

.small h4,
small h4 {
    font-size: 13px;
    margin-bottom: 0
}

.img-responsive {
    width: 100%;
    height: auto
}

h1,
h2,
h3 {
    font-family: "Roboto Slab", serif;
    font-weight: 400
}

h1.title-light,
h2.title-light,
h3.title-light {
    font-weight: 300
}

h1 {
    font-size: 26px
}

h1.h1-lg {
    font-size: 34px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 20px
}

h3.h3-small {
    font-size: 16px
}

h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0.5rem
}

.strong,
strong {
    font-weight: 600
}

p {
    margin: 0 0 15px 0
}

*:focus {
    outline: 0 !important
}

.quote,
.cita {
    font-family: "Roboto Slab", serif;
    font-size: 16px
}

.text-gray {
    color: #999
}

.text-color-light {
    color: #fff
}

.text-intro {
    font-family: "Roboto Slab", serif;
    text-align: center
}

@media (min-width: 576px) {
    .text-intro {
        font-size: 38px;
        line-height: 2.6rem
    }
}

.success,
.green {
    color: #008a00
}

.caution,
.ambar,
.orange {
    color: orange
}

hr.hr-dark {
    border-color: #000
}

.text-right-sm {
    text-align: left
}

@media (min-width: 576px) {
    .text-right-sm {
        text-align: right
    }
}

.text-lg {
    font-size: 22px
}

p.lead {
    font-size: 18px
}

@media (min-width: 576px) {
    p.lead {
        font-size: 22px
    }
}

.list-social .list-item {
    margin-bottom: 1rem !important
}

.list-social .d-flex {
    align-items: center
}

.list-social i {
    font-size: 15px;
    width: 30px;
    height: 30px;
    padding: 7px 3px 3px 3px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 200px;
    margin-right: .5rem
}

.list-social-bis {
    display: flex;
    flex-wrap: wrap
}

.list-social-bis .list-item {
    margin: 1rem !important
}

.list-social-bis .d-flex {
    align-items: center
}

.list-social-bis i {
    font-size: 22px;
    width: 50px;
    height: 50px;
    padding: 14px 3px 3px 3px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 200px;
    margin-right: .5rem
}

.list-secciones .list-item {
    margin-bottom: 1rem
}

.list-tags li {
    margin-bottom: 1rem
}

.list-xs-block li {
    display: block
}

@media (min-width: 576px) {
    .list-xs-block li {
        display: inline
    }
}

.list-bordered {
    margin: 0;
    padding: 0
}

.list-bordered li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1rem;
    margin-bottom: 1rem
}

.list-bordered.small li {
    padding-bottom: .5rem;
    margin-bottom: .5rem
}

.book-title-sm {
    margin-top: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: "Work Sans", sans-serif;
    font-weight: normal
}

.img-shadow {
    -webkit-box-shadow: 0px 6px 16px -10px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 6px 16px -10px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 6px 16px -10px rgba(0, 0, 0, 0.65)
}

.icon-large {
    font-size: 40px
}

.img-author {
    padding: 0 1rem;
    max-width: 250px;
    margin: 0 auto
}

.icon-description {
    width: 75px;
    height: 75px
}

.imagen-autor-ed img {
    padding: 1rem
}

@media (min-width: 576px) {
    .imagen-autor-ed img {
        padding: 2rem
    }
}

.logo-proveedor {
    max-width: 200px
}

.img-feat {
    max-width: 130px;
    margin: 0 auto
}

.img-cultura {
    width: 200px
}

@media (min-width: 576px) {
    .img-cultura {
        width: 160px
    }
}

html {
    scroll-behavior: smooth
}

main.main {
    padding: .5rem .5rem 2rem .5rem;
    min-height: 320px
}

main.main.login {
    background-image: url(../images/bg-login2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain
}

footer {
    background: #000;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 2rem 0
}

@media (min-width: 576px) {
    footer {
        background: #000 url(../images/footer.jpg) no-repeat fixed;
        background-position: left top;
        background-size: cover
    }
}

footer h2 {
    font-size: 18px;
    padding-top: 1rem;
    border-top: 1px solid #fff
}

@media (min-width: 992px) {
    footer h2 {
        border: none;
        padding-top: 0
    }
}

footer a {
    color: #fff
}

footer a:visited {
    color: #fff
}

footer a:visited:hover {
    color: #fff
}

footer a:hover {
    color: #fff
}

.box {
    margin: .5rem
}

.box.bg {
    background: #f0f0f0;
    padding: 1rem
}

@media (min-width: 768px) {
    .box.bg {
        padding: 2rem
    }
}

.well.well-custom {
    box-shadow: none;
    border-radius: 0;
    background: #f0f0f0;
    border-color: transparent
}

.well.well-custom.well-border {
    border-color: #ddd;
    background: transparent
}

.wrapper-posts {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2rem 0
}

@media (min-width: 576px) {
    .home-modules {
        display: flex;
        flex-wrap: wrap
    }
}

.home-modules .module {
    padding: 2rem;
    background-color: red;
    width: 50%
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    margin: 2rem 0
}

.scrolling-wrapper .card-book-sm,
.scrolling-wrapper .card-book-md {
    white-space: normal;
    flex: 0 0 auto
}

.scrolling-wrapper .card-book-sm:not(:last-child),
.scrolling-wrapper .card-book-md:not(:last-child) {
    margin-right: 2rem
}

.modulo-destacado {
    background-color: #f0f0f0;
    padding: 1rem
}

@media (min-width: 576px) {
    .modulo-destacado {
        padding: 2rem
    }
}

.row.row-flex {
    display: inline-flex;
    flex-wrap: wrap
}

.row.row-flex.vcenter {
    align-items: center !important
}

.d-flex {
    display: flex;
    align-items: center
}

.d-flex.space-between {
    flex-direction: column
}

@media (min-width: 576px) {
    .d-flex.space-between {
        flex-direction: row;
        justify-content: space-between
    }
}

.break {
    flex-basis: 100%;
    height: 0
}

.d-flex-fullwidth {
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (min-width: 576px) {
    .d-flex-fullwidth {
        flex-direction: row
    }
}

.d-flex-fullwidth.vcenter {
    align-items: center !important
}

.d-flex-fullwidth .col-flex {
    padding: 2rem
}

@media (min-width: 576px) {
    .d-flex-fullwidth .col-flex {
        padding: 4rem
    }
}

.target {
    margin-bottom: -3rem;
    padding-top: 3rem
}

.scroll-v {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: flex;
    padding: 0 2rem 1rem 0;
    margin-bottom: 2rem
}

.scroll-v.h500 {
    max-height: 500px
}

.wizard {
    max-width: 800px;
    margin: 0 auto;
    display: flex
}

.wizard .step {
    flex: 1;
    transition: all 0.5s ease;
    color: #666
}

.wizard .step p {
    text-align: center;
    margin-top: 1rem
}

.wizard .step .wizard-dot {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px
}

.wizard .step .wizard-dot .wizard-number {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 9999px;
    height: 11px;
    width: 11px;
    margin-left: 4px;
    margin-right: 4px
}

.wizard .step .wizard-dot .wizard-number span {
    display: none
}

.wizard .step .wizard-dot .wizard-connector {
    flex: 1;
    height: 1px;
    background-color: #ddd
}

.wizard .step .wizard-dot .wizard-connector.is-transparent {
    background-color: transparent
}

.wizard .step.is-completed .wizard-number {
    background-color: #000;
    border-color: #000
}

.wizard .step.is-completed p {
    color: #000
}

.wizard .step.is-active .wizard-number {
    background-color: #E6047C;
    border-color: #E6047C;
    color: #ffffff;
    height: 36px;
    width: 36px
}

.wizard .step.is-active .wizard-number span {
    display: flex
}

.wizard .step.is-active p {
    color: #E6047C
}

.navbar-custom {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0;
    margin-bottom: 0
}


/* @media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        display: none;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        /* Uncomment the below line to add auto horizontal scroll bar on navbar-collapse */


/* overflow-x: auto; */


/*white-space: nowrap;
    }
    .navbar-nav>li {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar-collapse {
        text-align: center;
    }
}

@media (min-width: 1201px) {
    .navbar-toggle {
        display: none;
    }
} */

@media (min-width: 992px) {
    .navbar-custom .navbar-centered {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

.navbar-custom .navbar-nav {
    margin: 0;
    padding: 0
}

.navbar-custom .navbar-nav .nav-item {
    list-style: none;
    position: relative;
    display: block;
    padding: 1.5rem 0
}

@media (min-width: 576px) {
    .navbar-custom .navbar-nav .nav-item {
        padding: 0
    }
}

.navbar-custom .navbar-nav .nav-item:visited,
.navbar-custom .navbar-nav .nav-item:focus {
    color: #000
}

.navbar-custom .navbar-nav .nav-item.active,
.navbar-custom .navbar-nav .nav-item:hover {
    color: #E6047C
}

.navbar-custom .navbar-nav .nav-item.active .nav-link,
.navbar-custom .navbar-nav .nav-item:hover .nav-link {
    color: #E6047C !important;
    background-color: transparent
}

@media (min-width: 576px) {
    .navbar-custom .navbar-nav .nav-item.active .nav-link:after,
    .navbar-custom .navbar-nav .nav-item:hover .nav-link:after {
        content: "";
        height: 1px;
        background-color: #E6047C;
        display: block;
        position: absolute;
        bottom: -15px;
        width: 100%
    }
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: #000
}

@media (min-width: 576px) {
    .navbar-custom .navbar-nav .nav-item .nav-link {
        padding: 0 1rem
    }
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover {
    color: #E6047C
}

.navbar-custom .navbar-nav .nav-item .nav-link:visited {
    color: #000
}

.navbar-custom .navbar-toggler {
    border: transparent;
    color: #000
}

.navbar-custom .navbar-toggler:hover,
.navbar-custom .navbar-toggler:visited {
    color: #E6047C
}

.navbar-custom .navbar-brand {
    padding: 0
}

.navbar-custom .navbar-brand .logo-main {
    padding: 1rem;
    height: 50px
}

@media (min-width: 576px) {
    .navbar-custom .navbar-brand .logo-main {
        height: 45px;
        padding: .3rem 1rem 0 1rem
    }
}

.navbar-secondary {
    background-color: #fff;
    padding: .5rem 1rem;
    font-size: 13px;
    color: #666
}

@media (min-width: 768px) {
    .navbar-secondary {
        text-align: right
    }
}

.navbar-secondary a,
.navbar-secondary a:visited {
    color: #666
}

.navbar-secondary a:hover,
.navbar-secondary a:visited:hover {
    color: #000
}

.navbar-secondary i {
    font-size: 18px
}

@media (min-width: 576px) {
    .navbar-secondary i {
        font-size: 12px
    }
}

.navbar-secondary .list-inline {
    margin-bottom: 0;
    padding: .5rem 0
}

@media (max-width: 575.98px) {
    .navbar-secondary .list-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
}

.navbar-xs-items {
    position: absolute;
    right: 60px;
    top: 10px
}

@media (min-width: 576px) {
    .navbar-xs-items {
        top: 8px
    }
}

@media (min-width: 992px) {
    .navbar-xs-items {
        right: 1rem
    }
}

#edit-commerce-shipping-body,
.commerce_shipping {
    padding: 0;
    border: 0
}

.nav-select,
#edit-commerce-shipping-shipping-service {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
}

@media (min-width: 576px) {
    .nav-select,
    #edit-commerce-shipping-shipping-service {
        flex-direction: row;
        justify-content: space-between
    }
}

@media (min-width: 576px) {
    .nav-select.one-item,
    #edit-commerce-shipping-shipping-service.one-item {
        justify-content: start
    }
    .nav-select.one-item .nav-select-item,
    #edit-commerce-shipping-shipping-service.one-item .nav-select-item {
        flex-grow: initial;
        flex-basis: auto;
        padding: 2rem
    }
}

.nav-select .nav-select-item,
.nav-select .form-item-commerce-shipping-shipping-service,
#edit-commerce-shipping-shipping-service .nav-select-item,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service {
    padding: 2rem 1rem;
    flex-grow: 1;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
    margin: .5rem;
    position: relative
}

.nav-select .nav-select-item label,
.nav-select .form-item-commerce-shipping-shipping-service label,
#edit-commerce-shipping-shipping-service .nav-select-item label,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service label {
    padding-left: 0 !important
}

.nav-select .nav-select-item label input[type=radio].form-radio,
.nav-select .form-item-commerce-shipping-shipping-service label input[type=radio].form-radio,
#edit-commerce-shipping-shipping-service .nav-select-item label input[type=radio].form-radio,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service label input[type=radio].form-radio {
    display: none !important
}

.nav-select .nav-select-item label.active,
.nav-select .form-item-commerce-shipping-shipping-service label.active,
#edit-commerce-shipping-shipping-service .nav-select-item label.active,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service label.active {
    background-color: #E6047C;
    color: #fff
}

.nav-select .nav-select-item label.active i,
.nav-select .form-item-commerce-shipping-shipping-service label.active i,
#edit-commerce-shipping-shipping-service .nav-select-item label.active i,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service label.active i {
    color: #fff
}

.nav-select .nav-select-item label .radio,
.nav-select .form-item-commerce-shipping-shipping-service label .radio,
#edit-commerce-shipping-shipping-service .nav-select-item label .radio,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service label .radio {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0
}

@media (min-width: 768px) {
    .nav-select .nav-select-item label .radio,
    .nav-select .form-item-commerce-shipping-shipping-service label .radio,
    #edit-commerce-shipping-shipping-service .nav-select-item label .radio,
    #edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service label .radio {
        height: 125px
    }
}

@media (min-width: 768px) {
    .nav-select .nav-select-item,
    .nav-select .form-item-commerce-shipping-shipping-service,
    #edit-commerce-shipping-shipping-service .nav-select-item,
    #edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service {
        height: 140px;
        flex-basis: 100px
    }
}

.nav-select .nav-select-item:hover,
.nav-select .nav-select-item.active,
.nav-select .form-item-commerce-shipping-shipping-service:hover,
.nav-select .form-item-commerce-shipping-shipping-service.active,
#edit-commerce-shipping-shipping-service .nav-select-item:hover,
#edit-commerce-shipping-shipping-service .nav-select-item.active,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service:hover,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service.active {
    background-color: #E6047C;
    color: #fff
}

.nav-select .nav-select-item:hover i,
.nav-select .nav-select-item.active i,
.nav-select .form-item-commerce-shipping-shipping-service:hover i,
.nav-select .form-item-commerce-shipping-shipping-service.active i,
#edit-commerce-shipping-shipping-service .nav-select-item:hover i,
#edit-commerce-shipping-shipping-service .nav-select-item.active i,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service:hover i,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service.active i {
    color: #fff
}

.nav-select .nav-select-item i,
.nav-select .form-item-commerce-shipping-shipping-service i,
#edit-commerce-shipping-shipping-service .nav-select-item i,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service i {
    font-size: 28px;
    color: #999
}

.nav-select .nav-select-item p.icon,
.nav-select .form-item-commerce-shipping-shipping-service p.icon,
#edit-commerce-shipping-shipping-service .nav-select-item p.icon,
#edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service p.icon {
    height: 34px;
    margin-bottom: 0
}

@media (min-width: 768px) {
    .nav-select .nav-select-item p.price,
    .nav-select .form-item-commerce-shipping-shipping-service p.price,
    #edit-commerce-shipping-shipping-service .nav-select-item p.price,
    #edit-commerce-shipping-shipping-service .form-item-commerce-shipping-shipping-service p.price {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%
    }
}

.steps {
    display: table;
    text-align: center;
    width: auto;
    color: #ddd;
    align-items: center;
    margin: 0 auto;
    padding: 0
}

@media (min-width: 768px) {
    .steps {
        margin: 1rem auto 0 auto
    }
}

.steps .steps-item {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    padding: 0 15px;
    list-style: none;
    text-align: center;
    flex-basis: 1rem;
    flex-grow: .8
}

@media (min-width: 576px) {
    .steps .steps-item {
        font-size: 14px;
        padding: 0 1rem
    }
}

.steps .steps-item.active {
    color: #E6047C
}

.steps .steps-item.active .number {
    border-color: #E6047C
}

.steps .steps-item.done,
.steps .steps-item.success {
    color: #000
}

.steps .steps-item.done .number,
.steps .steps-item.success .number {
    border-color: #000
}

.steps .steps-item.item-arrow {
    font-size: 10px
}

.steps .steps-item .number {
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    line-height: 1.45em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
    border: 1px solid #ddd;
    display: none
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #000
}

.nav-secondary li a {
    border-bottom: 1px solid transparent
}

.nav-secondary li a.active,
.nav-secondary li a:hover {
    color: #E6047C;
    border-color: #E6047C;
    cursor: pointer
}

.nav-secondary {
    display: flex;
    justify-content: center
}

.nav-secondary li.active a {
    border-bottom: 1px solid #E6047C;
    color: #E6047C
}

.nav-secondary li a {
    color: #000
}

.nav-secondary li a:hover {
    border-bottom: 1px solid #E6047C;
    background: transparent
}

.nav-secondary li a:visited,
.nav-secondary li a:focus {
    background: transparent
}

.navbar-submenu {
    background-color: #f0f0f0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%
}

@media (min-width: 576px) {
    .navbar-submenu {
        overflow-x: hidden
    }
}

.navbar-submenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start
}

@media (min-width: 576px) {
    .navbar-submenu ul {
        justify-content: center
    }
}

.navbar-submenu ul li {
    list-style: none;
    padding: 1.5rem;
    margin: 0
}

.navbar-submenu ul li a {
    color: #666
}

.navbar-submenu ul li a:hover,
.navbar-submenu ul li a.active {
    color: #000
}

.navbar-submenu ul li.active a {
    color: #000
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #E6047C
}

.dropdown-menu a {
    display: block !important;
    padding: .5rem 1rem
}

.caret {
    margin-left: 1px;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent
}

.pagination>li>a,
.pagination>li>span,
.pagination>li>a:hover {
    color: #E6047C;
    padding: 7px 12px 5px
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #E6047C;
    border-color: #E6047C
}

.breadcrumb {
    background-color: transparent;
    text-align: center
}

nav.nav-fullscreen {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 9
}

nav.nav-fullscreen header {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

nav.nav-fullscreen header h1.title {
    margin: 0;
    padding: 0;
    font-size: 18px
}

nav.nav-fullscreen header .btn i {
    font-size: 24px;
    color: #000
}

nav.nav-fullscreen+.main {
    padding-top: 80px
}

.btn.btn-primary {
    background-color: #E6047C;
    border-color: #E6047C;
    color: #fff
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus {
    background-color: #bb1266;
    box-shadow: none;
    border-color: #bb1266;
    color: #fff
}

.btn.btn-secondary {
    background-color: transparent;
    border-color: #E6047C;
    color: #E6047C
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-secondary:active:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: #bb1266;
    color: #bb1266
}

.btn.btn-dark {
    background-color: #000;
    border-color: #000;
    color: #fff
}

.btn.btn-dark:hover,
.btn.btn-dark:focus,
.btn.btn-dark:active,
.btn.btn-dark:active:focus {
    background-color: #000;
    box-shadow: none;
    border-color: #000;
    color: #fff
}

.btn.btn-delete {
    background-color: transparent;
    border-color: red;
    color: red
}

.btn.btn-delete:hover,
.btn.btn-delete:focus,
.btn.btn-delete:active,
.btn.btn-delete:active:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: #000;
    color: #000
}

.btn.btn-light {
    background-color: #fff;
    border-color: #fff;
    color: #000
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light:active:focus {
    background-color: #ddd;
    box-shadow: none;
    border-color: #ddd;
    color: #000
}

.btn.btn-light-line {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.btn.btn-light-line:hover,
.btn.btn-light-line:focus,
.btn.btn-light-line:active,
.btn.btn-light-line:active:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: #000;
    color: #000
}

.btn.btn-transparent {
    background-color: transparent
}

.btn.btn-transparent:hover,
.btn.btn-transparent:focus,
.btn.btn-transparent:active,
.btn.btn-transparent:active:focus {
    background-color: transparent;
    box-shadow: none
}

.btn.btn-icon {
    font-size: 1.2rem
}

.btn.btn-icon .badge {
    font-size: 60%;
    top: -10px
}

.btn-lg {
    padding: 12px 20px !important
}

.btn-xs-block {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 10px 12px
}

@media (min-width: 576px) {
    .btn-xs-block {
        padding: 5px 12px;
        width: auto;
        display: inline;
        margin-bottom: 0
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #E6047C;
    color: #fff !important
}

.badge,
a.badge {
    background-color: transparent;
    padding: 4px 12px;
    font-weight: normal;
    color: #999;
    border: 1px solid #ddd
}

.badge:hover,
a.badge:hover {
    border-color: #999;
    color: #666
}

.badge-custom {
    background-color: #E6047C;
    color: #fff;
    font-weight: normal
}

@media (min-width: 576px) {
    .row-posts {
        display: flex;
        flex-wrap: wrap
    }
}

@media (min-width: 576px) {
    .row-posts .col-post {
        width: 50%
    }
}

@media (min-width: 768px) {
    .row-posts .col-post {
        width: 33.3%
    }
}

.post {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #f0f0f0
}

@media (min-width: 576px) {
    .post {
        padding: 0;
        border: none
    }
}

.post .post-image {
    overflow: hidden;
    margin-bottom: 0;
    background-color: #f0f0f0;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 160px
}

@media (min-width: 576px) {
    .post .post-image {
        height: 200px
    }
}

.post .post-image .field-content {
    width: 100%;
    display: flex
}

.post .post-image .field-content a {
    width: 100%
}

.post .post-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover
}

@media (min-width: 576px) {
    .post .post-image img {
        width: auto;
        max-width: none
    }
}

@media (min-width: 576px) {
    .post {
        margin-bottom: 0;
        border-bottom: 0
    }
}

.date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 10px;
    color: #000;
    min-width: 95px
}

.date p {
    margin: 0;
    line-height: 1.1;
    text-align: center
}

.date .day {
    font-size: 28px;
    font-weight: 600
}

.date .time {
    font-weight: bold
}

.date .week-day {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #999
}

.date.date-title {
    position: relative;
    border: 1px solid #999;
    margin-right: 2rem;
    left: 0;
    top: 0
}

.date.date-small {
    position: relative;
    border: 1px solid #999;
    width: auto;
    left: 0;
    top: 0;
    min-width: none;
    display: inline-block
}

.event-type {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 22px
}

.d-flex.event-title {
    align-items: flex-start
}

.card-book-sm {
    width: 200px;
    white-space: normal;
    border: 1px solid #f0f0f0
}

@media (min-width: 576px) {
    .card-book-sm {
        border: none
    }
}

.card-book-sm .description {
    padding: 1rem
}

.card-book-sm .description .price {
    font-weight: bold;
    margin-bottom: 0
}

.card-book-sm .description .small {
    margin-bottom: 0
}

.card-book-sm .cover {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: flex-end;
    height: 240px;
    padding: 1rem 1rem 0 1rem
}

.card-book-sm .cover img {
    margin: 0 auto;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2)
}

.card-book-md {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 2rem
}

@media (min-width: 576px) {
    .card-book-md {
        flex-direction: row;
        padding: 0 0 2rem 0;
        border: none;
        border-bottom: 1px solid #ddd
    }
    .card-book-md:last-of-type,
    .card-book-md.one-item {
        border-bottom: none
    }
}

.card-book-md .description {
    padding: 1rem
}

@media (min-width: 576px) {
    .card-book-md .description {
        padding: 0
    }
}

.card-book-md .description .price {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 22px
}

@media (min-width: 576px) {
    .card-book-md .cover {
        width: 140px;
        margin-right: 2rem
    }
}

.book {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2rem
}

@media (min-width: 768px) {
    .book {
        padding: 1rem;
        flex-direction: row;
        justify-content: flex-start
    }
}

.book .cover {
    margin-bottom: 1rem
}

.book .cover img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2)
}

@media (min-width: 576px) {
    .book .cover {
        width: 35%
    }
}

@media (min-width: 768px) {
    .book .cover {
        width: 23%
    }
}

@media (min-width: 768px) {
    .book .description {
        padding: 0 2.5rem;
        width: 60%;
        order: 2
    }
    .book .description h1 {
        margin-top: 0
    }
}

.book .description .table-book {
    font-size: 13px
}

.book .buy {
    min-width: 250px
}

@media (min-width: 768px) {
    .book .buy {
        margin-left: auto;
        border-left: 1px solid #f0f0f0;
        padding: 0 2rem;
        order: 3
    }
}

.book .buy .price {
    color: #E6047C;
    font-size: 26px;
    font-weight: bold
}

.book .buy .price+.small {
    color: #999;
    margin-top: -13px
}

.card-book-smgrid,
.card-book-editorial {
    margin-bottom: 3rem
}

@media (max-width: 576px) {
    .card-book-smgrid,
    .card-book-editorial {
        border: 1px solid #ddd;
        padding: 1rem;
        width: 100%;
        display: block
    }
}

@media (min-width: 576px) {
    .card-book-smgrid,
    .card-book-editorial {
        min-height: 500px
    }
}

@media (min-width: 1200px) {
    .card-book-smgrid,
    .card-book-editorial {
        min-height: 0
    }
}

.card-book-smgrid .description h3,
.card-book-editorial .description h3 {
    margin-bottom: 1rem
}

.card-book-smgrid .description .price,
.card-book-editorial .description .price {
    font-weight: bold;
    margin-bottom: 0
}

.card-book-smgrid .description .small,
.card-book-editorial .description .small {
    margin-bottom: 0
}

.card-book-smgrid .description .field-name-field-libro-autores,
.card-book-editorial .description .field-name-field-libro-autores {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.card-book-smgrid .cover,
.card-book-editorial .cover {
    margin-bottom: 1.5rem
}

.card-book-smgrid .cover img,
.card-book-editorial .cover img {
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2)
}

@media (min-width: 576px) {
    .card-book-smgrid .cover,
    .card-book-editorial .cover {
        margin-bottom: 1.5rem;
        display: flex;
        min-height: none;
        align-items: flex-end
    }
}

@media (min-width: 768px) {
    .card-book-smgrid .cover,
    .card-book-editorial .cover {
        height: 360px
    }
    .card-book-smgrid .cover img,
    .card-book-editorial .cover img {
        max-height: 360px
    }
}

@media (min-width: 992px) {
    .card-book-smgrid .cover,
    .card-book-editorial .cover {
        height: 340px
    }
    .card-book-smgrid .cover img,
    .card-book-editorial .cover img {
        max-height: 340px
    }
}

@media (min-width: 1200px) {
    .card-book-smgrid .cover,
    .card-book-editorial .cover {
        height: 280px
    }
    .card-book-smgrid .cover img,
    .card-book-editorial .cover img {
        max-height: 280px
    }
}

.card-book-smgrid .success,
.card-book-editorial .success {
    font-size: 13px
}

.card-book-smgrid .text-warning,
.card-book-editorial .text-warning {
    color: orange !important;
    font-size: 13px
}

.card-book-smgrid .text-danger,
.card-book-editorial .text-danger {
    color: red;
    font-size: 13px
}

.book-author {
    float: left;
    margin: .5rem 2rem .8rem 0;
    width: 100px
}

@media (min-width: 768px) {
    .book-author {
        width: 150px
    }
}

.nocover {
    background-color: #f0f0f0
}

.regalo {
    background-color: #E6047C
}

.post-prensa {
    border: 1px dotted #999;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    color: #000;
    font-size: 14px;
    width: 100%
}

.post-prensa:hover {
    cursor: pointer;
    color: #E6047C;
    border: 1px solid #E6047C
}

.post-item {
    border: 1px dotted #999;
    padding: 1rem;
    margin-bottom: 1rem
}

.post-item h2,
.post-item h3 {
    font-size: 18px;
    margin-top: 0
}

.features p {
    color: #000
}

.card-item {
    display: block;
    margin-bottom: 4rem
}

@media (min-width: 576px) {
    .row-cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2rem
    }
}

.card-link {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 4px;
    display: block
}

.card-link img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 100%;
    object-fit: cover
}

.card-link p {
    margin: 0
}

.card-link:hover {
    background-color: #f0f0f0
}

.distribuidor {
    margin-bottom: 4rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    display: block
}

.cta {
    margin: .5rem;
    display: flex;
    overflow: hidden
}

.cta .cta-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

@media (min-width: 576px) {
    .cta .cta-text {
        padding: 3rem
    }
}

.cta .cta-text h1 {
    margin: 0 0 1rem 0
}

.cta .cta-text .btn {
    width: fit-content
}

.cta.bg {
    background: #f0f0f0;
    padding: 1rem
}

@media (min-width: 768px) {
    .cta.bg {
        padding: 2rem
    }
}

.cta.cta-tienda {
    background: #fce3ee;
    overflow: hidden;
    position: relative
}

.cta.cta-tienda .cta-text {
    max-width: 65%
}

@media (min-width: 576px) {
    .cta.cta-tienda .cta-text {
        max-width: 50%
    }
}

@media (min-width: 576px) {
    .cta.cta-tienda {
        height: 320px
    }
}

.cta.cta-tienda .books {
    position: absolute;
    bottom: -40px;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center
}

@media (min-width: 576px) {
    .cta.cta-tienda .books {
        bottom: -90px
    }
}

.cta.cta-tienda .books .books-col {
    display: flex;
    flex-direction: column
}

.cta.cta-tienda .books .books-col .books-col-item {
    width: 50px;
    height: auto;
    margin: 2px
}

@media (min-width: 576px) {
    .cta.cta-tienda .books .books-col .books-col-item {
        width: 90px
    }
}

.cta.cta-espacio {
    background: #e7f5fb;
    display: block
}

.cta.cta-espacio .img-covid {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px
}

@media (min-width: 576px) {
    .cta.cta-espacio .img-covid {
        width: 140px;
        height: 140px
    }
}

.cta.cta-espacio .cta-text {
    max-width: none;
    height: auto;
    padding-bottom: 0
}

@media (min-width: 576px) {
    .cta.cta-espacio .cta-text .map-svg {
        height: 180px
    }
}

@media (min-width: 576px) {
    .cta.cta-espacio {
        height: 320px
    }
}

@media (min-width: 576px) {
    .cta.cta-secondary {
        height: 280px
    }
}

.cta.cta-secondary.cta-katering {
    background: #000 url(../images/cta-cantina.jpg) center center no-repeat;
    background-size: cover
}

.cta.cta-secondary.cta-editorial {
    background: #fffcd6 url(../images/cta-editorial.jpg) center center no-repeat;
    background-size: cover
}

.cta.cta-secondary.cta-editorial .cta-text {
    max-width: 50%
}

.agenda-module {
    margin: .5rem;
    border: 1px solid #ddd
}

@media (min-width: 576px) {
    .agenda-module {
        height: 280px
    }
}

.agenda-module .agenda-item {
    display: flex;
    justify-content: space-between;
    overflow: hidden
}

.agenda-module .agenda-item .agenda-item-text {
    padding: 2rem 2rem 2rem 4rem
}

.agenda-module .agenda-item .agenda-item-photo {
    display: none;
    height: 280px;
    background-color: #f0f0f0
}

@media (min-width: 576px) {
    .agenda-module .agenda-item .agenda-item-photo {
        display: inline
    }
}

.agenda-module .agenda-item .agenda-item-photo img {
    object-fit: cover;
    object-position: center center;
    height: 280px
}

.wrapper-banner {
    /*background: #e6047c;*/
    background: #1d1d1b;
    padding: 2rem;
    margin: .5rem
}

.wrapper-banner-home {
    background: #E6047C;
    color: #fff;
    margin: .5rem
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.banner-regalo,
.banner {
    text-align: center;
    background: #fce3ee;
    padding: 1.5rem 2rem;
    font-family: "Roboto Slab", serif
}

.banner-regalo i,
.banner i {
    margin-right: .5rem
}

.banner-help {
    text-align: center;
    background: #e7f5fb;
    padding: 1.5rem 2rem;
    font-family: "Roboto Slab", serif
}

.banner-help i {
    margin-right: .5rem
}

.banner-help a {
    color: #666
}

.banner-help a:hover {
    color: #000
}

.banner-bizikrak {
    text-align: center;
    background: #fffcd6;
    padding: 1.5rem 2rem;
    font-family: "Roboto Slab", serif
}

.banner-bizikrak a {
    color: #666
}

.banner-bizikrak a:hover {
    color: #000
}

.wrapper-video {
    position: relative;
    overflow: hidden;
    height: 50vh
}

@media (min-width: 576px) {
    .wrapper-video {
        height: 80vh
    }
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%
}

.content {
    position: absolute
}

@media (max-width: 576px) {
    table.table.table-shop {
        display: block
    }
    table.table.table-shop thead {
        display: none
    }
    table.table.table-shop tbody {
        width: 100%;
        display: block
    }
    table.table.table-shop tr {
        display: block;
        width: 100%
    }
    table.table.table-shop tr:not(:last-child) {
        border-bottom: 1px solid #ddd
    }
    table.table.table-shop td {
        display: block;
        border: none
    }
    table.table.table-shop td.cover {
        display: inline-block;
        float: left
    }
    table.table.table-shop td.actions {
        display: block;
        clear: both;
        float: none
    }
}

table.table.table-shop td {
    vertical-align: middle
}

table.table.table-shop td .d-flex .btn,
table.table.table-shop td .d-flex input {
    margin: 0 2px
}

table.table.table-shop td.cover {
    width: 60px
}

table.table.table-shop td .quantity-actions p {
    margin: 0
}

@media (min-width: 576px) {
    table.table.table-shop td .quantity-actions {
        margin-left: 1rem
    }
}

table.table thead th {
    font-weight: normal;
    border-width: 1px;
    border-color: #000
}

.views-field-field-libro-portada img.img-responsive {
    max-width: 80px
}

table.table-resumen {
    margin-bottom: 0
}

table.table-resumen th {
    width: 30%;
    vertical-align: middle;
    font-weight: normal
}

table.table-resumen td {
    vertical-align: middle;
    font-weight: bold
}

input.input-items {
    width: 60px
}

label {
    font-size: 16px;
    font-weight: normal
}

.input-lg {
    height: 50px
}

.locality-block {
    margin-top: 1.5rem !important;
    margin-bottom: 0
}

.alert {
    border-radius: 0;
    border-color: transparent;
    color: #000
}

.alert.alert-primary {
    background-color: #fce3ee
}

.carousel-control {
    position: absolute;
    top: 40%
}

.carousel-control.right {
    background-image: none;
    right: 0rem
}

.carousel-control.left {
    background-image: none;
    left: 0rem
}

.hero-wrapper {
    background-color: #E6047C;
    color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    overflow: hidden;
    margin: .5rem
}

.hero-wrapper.hero-organiza {
    background-image: url(../images/bg-hero-organiza.jpg)
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center
}

.hero .hero-cta {
    padding: 2rem 0
}

@media (min-width: 576px) {
    .hero .hero-cta {
        padding: 6rem 0;
        width: 60%
    }
}

@media (min-width: 576px) {
    .hero .hero-cta h1 {
        font-size: 200%
    }
}

.hero .hero-image {
    mix-blend-mode: multiply;
    overflow: hidden
}

@media (min-width: 576px) {
    .hero .hero-image {
        max-width: 50%;
        padding: 1rem 0
    }
}

@media (min-width: 576px) {
    .lead-hero {
        max-width: 65%
    }
}

.hero-img-empty {
    min-height: 400px
}

.bg-gray {
    background-color: #f0f0f0
}

.bg-primary {
    background-color: #E6047C
}

.bg-pink-p {
    background-color: #fce3ee
}

.bg-orange-p {
    background-color: #ffecd3
}

.bg-blue-p {
    background-color: #e7f5fb
}

.bg-yellow-p {
    background-color: #fffcd6
}

.bg-dark {
    background-color: #000;
    color: #fff
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.bg-image.bg-equipamiento,
.bg-image.equipamiento {
    background-image: url(../images/bg-equipamiento.jpg)
}

.bg-image.bg-organiza {
    background-image: url(../images/bg-hero-organiza3.jpg);
    background-attachment: scroll
}

.bg-image.bg-cantina {
    background-image: url(../images/bg-cantina2.jpg);
    background-size: cover
}

.bg-image.bg-editorial {
    background-image: url(../images/bg-hero-editorial.jpg);
    background-size: cover
}

.bg-image.bg-nncc {
    background-image: url(../images/bg-hero-nncc.jpg);
    background-size: cover
}

.bg-image.bg-conocenos {
    background-image: url(../images/bg-conocenos.jpg);
    background-size: cover
}

.bg-image.bg-sala {
    background-image: url(../images/bg-sala.jpg);
    background-size: cover
}

.bg-image.bg-libreria {
    background-image: url(../images/bg-hero-libreria.jpg);
    background-size: cover
}

.bg-image.bg-cantina2 {
    background-image: url(../images/cantina-cafe.jpg);
    background-size: cover
}

.st0 {
    opacity: 0.15;
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10
}

.st1 {
    fill: #e7f5fb;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10
}

.st2,
.st3,
.st4 {
    fill: #e7f5fb;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
    transition: .6s fill
}

.st2:hover,
.st3:hover,
.st4:hover {
    fill: #E6047C
}

.st2:hover .st5,
.st3:hover .st5,
.st4:hover .st5 {
    opacity: 1
}

.link1 text,
.link2 text,
.link3 text {
    opacity: 0
}

.link1:hover text,
.link2:hover text,
.link3:hover text {
    opacity: 1
}

text.text-tag {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 24px
}

.views-bootstrap-grid-plugin-style {
    margin-top: 1rem
}

.commerce-order-handler-area-order-total .commerce-price-formatted-components {
    width: 100% !important
}

.block-system {
    margin-top: 2rem
}

.field-type-addressfield {
    margin-bottom: .5rem !important
}

.form-item-customer-profile-shipping-commerce-customer-profile-copy {
    margin-bottom: 2rem !important
}

.form-type-date-popup label {
    display: block !important
}

.form-item-sala {
    margin-top: 2rem
}

.icon-description {
    display: none
}

.bw {
    filter: grayscale(100%);
}
.content-container {
    width:100%;
}
.photo-gallery{
    width:100%;
    display:flex;
    gap: 1rem;

}

.column {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 768px) {
    .photo-gallery {
        flex-direction:column;
    }
}