//colors
$color-dark:#000000;
$color-light:#ffffff;
$color-gray-1:#666666;
$color-gray-2:#999999;
$color-gray-3:#dddddd;
$color-gray-4:#f0f0f0;
$color-magenta:#E6047C;
$color-magenta-dark:#bb1266;
$color-yellow-p:#fffcd6;
$color-blue-p:#e7f5fb;
$color-pink-p:#fce3ee;
$color-green-p:#f7fee1;



$color-primary:$color-magenta;
$color-primary-dark:$color-magenta-dark;


//Typography
$font-base: 'Work Sans', sans-serif;
$font-title:'Playfair Display', serif;

$font-title-bold:700;
$font-title-light:100;
$font-base-bold: 600;
$font-base-light:300;