@link_gray: #777;
@hover_gray: #444;
@background_gray: #d0d0d0;
@custom_blue: #2780AF;

.generate-fa-sizes(@n, @i: 1) when (@i =< @n) {
  .fa-@{i}x {
    font-size: (1em * @i);
  }
  .generate-fa-sizes(@n, (@i + 1));
}

.katakrak-button(@border_color: @custom_blue, @background_color: @custom_blue, @text_color: #FFF) {
	border-top: 2px solid @border_color;
	border-left: 2px solid @border_color;
	border-right: 2px solid @border_color;
	border-bottom: 2px solid @border_color;
	padding: 5px 10px !important;
	background:	@background_color;
  text-transform: uppercase;
  color: @text_color;
}


.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
}

/* ----------------------------------------------------------------
    Overrides
-----------------------------------------------------------------*/
.navbar-collapse.in {
  overflow-y: hidden;
}

/** Estilos generales del sitio, tipografias, etc **/

.field-type-text-long, .field-content p, p.field-content {
  font-size: 18px;
  line-height: 22px;
}

.view-agenda h3.field-content, 
.view-ciclos h3.field-content,
.view-display-id-book_block_home h3.field-content,
.view-boletin h3.field-content
{
/*  font-size: 35px;
  line-height: 40px;
  font-weight: normal;*/
}

#page-title .page-title {
  width: 33.333%
}

#block-views-agenda-next-events-node-block h3.field-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

h3.field-content{
  a {
    color: @link_gray;
  }
  a:hover {
    color: @hover_gray;
  }
  
}

.book-page-view h3 a {
  color: #2780AF;
}

.colored-text {
  color: #2780AF;
}

.popup-layout div.controls input[type="text"], .popup-layout div.controls input[type="password"] {
 width: 110px; 
}

/* ----------------------------------------------------------------
    Top Bar
-----------------------------------------------------------------*/



#top-menu {
  position: relative;
  float: left;
  height: 40px;
}

#top-menu li {
  float: left;
  margin-left: 10px;
  height: 40px;
  text-shadow: 1px 1px 1px #FFF;
}

#top-menu li:first-child { margin-left: 0; }

#top-menu li a,
#top-menu li span {
  display: block;
  float: left;
  position: relative;
  line-height: 20px;
  margin-top: 10px;
  color: #777;
  font-size: 12px;
}

#top-menu li span { color: #999; }

#top-menu li a:hover {
  color: #57B3DF;
  border-bottom: 1px dotted #57B3DF;
}

#top-menu li span {
  margin-right: 10px;
  font-size: 14px;
}

#top-menu li:first-child span { display: none; }

#top-menu li.top-menu-em a {
  position: relative;
  top: -1px;
  padding: 1px 6px;
  background-color: #57B3DF;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#top-menu li.top-menu-em a:hover {
  color: #FFF;
  border-bottom: none;
}

#top-social {
  position: relative;
  float: right;
  height: 40px;
  margin: 0 -30px 0 0;
}


#bottom-social {
  position: relative;
  height: 50px;
  margin: 0 -30px 0 0;
}

#bottom-social .content ul, #top-menu .content ul { margin: 10px; }

#bottom-social .content li,
#bottom-social .content li a,
#bottom-social li .ts-icon,
#bottom-social li .ts-text {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}

#bottom-social .content li,
#bottom-social .content li a,
#bottom-social li .ts-text {
  float: left;
  width: auto;
  overflow: hidden;
}

#bottom-social .content li a {
  width: 40px;
  line-height: 40px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#bottom-social li .ts-icon { float: left; }

#bottom-social li.ts-facebook a { background-color: #3B5998; }

#bottom-social li.ts-facebook .ts-icon { background: url("images/icons/social/facebook.png") no-repeat center center; }

#bottom-social li.ts-twitter a { background-color: #3CF; }

#bottom-social li.ts-twitter .ts-icon { background: url("images/icons/social/twitter.png") no-repeat center center; }

#bottom-social li.ts-gplus a { background-color: #BD3518; }

#bottom-social li.ts-gplus .ts-icon { background: url("images/icons/social/gplus.png") no-repeat center center; }

#bottom-social li.ts-dribbble a { background-color: #D97AA5; }

#bottom-social li.ts-dribbble .ts-icon { background: url("images/icons/social/dribbble.png") no-repeat center center; }

#bottom-social li.ts-forrst a { background-color: #304C25; }

#bottom-social li.ts-forrst .ts-icon { background: url("images/icons/social/forrst.png") no-repeat center center; }

#bottom-social li.ts-blogger a { background-color: #FCA448; }

#bottom-social li.ts-blogger .ts-icon { background: url("images/icons/social/blogger.png") no-repeat center center; }

#bottom-social li.ts-flickr a { background-color: #FF0084; }

#bottom-social li.ts-flickr .ts-icon { background: url("images/icons/social/flickr.png") no-repeat center center; }

#bottom-social li.ts-pinterest a { background-color: #CB2027; }

#bottom-social li.ts-pinterest .ts-icon { background: url("images/icons/social/pinterest.png") no-repeat center center; }

#bottom-social li.ts-rss a { background-color: #F88F16; }

#bottom-social li.ts-rss .ts-icon { background: url("images/icons/social/rss.png") no-repeat center center; }

#bottom-social li.ts-vimeo a { background-color: #0590B8; }

#bottom-social li.ts-vimeo .ts-icon { background: url("images/icons/social/vimeo.png") no-repeat center center; }

#bottom-social li.ts-youtube a { background-color: #F33; }

#bottom-social li.ts-youtube .ts-icon { background: url("images/icons/social/youtube.png") no-repeat center center; }

#bottom-social li.ts-phone a { background-color: #4818AB; }

#bottom-social li.ts-phone .ts-icon { background: url("images/icons/social/phone.png") no-repeat center center; }

#bottom-social li.ts-mail a { background-color: #444; }

#bottom-social li.ts-mail .ts-icon { background: url("images/icons/social/mail.png") no-repeat center center; }

#bottom-social li.ts-linkedin a { background-color: #0A6495; }

#bottom-social li.ts-linkedin .ts-icon { background: url("images/icons/social/linkedin.png") no-repeat center center; }


/* ----------------------------------------------------------------
    Top Bar Style 2
-----------------------------------------------------------------*/


#top-bar.top-bar2 #top-menu { float: right; }

#top-bar.top-bar2 #top-social {
  float: left;
  margin: 0 40px 0 -30px;
}

/* ----------------------------------------------------------------
    Header
-----------------------------------------------------------------*/

#top-bar {
  position: relative;
  background-color: #EEE;
  height: 40px;
}

#header {
  background-color: #d0d0d0;
}

.navbar-default {
  background-color: #d0d0d0;
  border-color: #d0d0d0; 
}

/* ----------------------------------------------------------------
    Logo
-----------------------------------------------------------------*/


#logo {
  margin: 20px 0;
/*  position: relative;
  float: left;
  height: 120px;
  max-width: 230px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 120px;*/
}

#logo a {
  display: block;
  color: #000;
}

#logo img {
  display: block;
  max-width: 60%;
}

#logo a.standard-logo { display: block; }

#logo a.retina-logo { display: none; }

/* ----------------------------------------------------------------
    Primary Menu
-----------------------------------------------------------------*/


#primary-links {
  margin-top: 30px;
  ul {
    li {
      /*background: url("images/icons/menu-divider.png") no-repeat left center;*/
      /*background-color: black;*/
      margin-left: 5px;
      i { margin-right: 2px; }
      a {
        display: inline-block;
        border-top: 4px solid transparent;
        padding: 20px 0 5px;
        width: 94px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        span {
          display: block;
          margin-top: 2px;
          top: 0;
          color: @link_gray;
          font-size: 11px;
          font-weight: 400 !important;
          text-transform: capitalize;
        }
      }
    }
    ul {/* Nested menu */
      
      z-index: 200;
      width: 200px;
      margin: 0;
      position: absolute;
      left: 0;
      a {
        display: block;
        height: 40px;
        width: 100%;
        line-height: 40px;
        padding: 0 15px;
        margin-left: 20px;
        border: none;
        text-transform: capitalize;
       
        font-weight: normal;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        span { display: none !important; }
      }
      li {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        height: auto;
        border: none;
        background-image: none;
        margin-top: 1px;
      }
      ul {
        margin: 0;
        left: 201px !important;
        top: 0;
        *top: 1px;
      }
    }
    li:first-child {
      padding-left: 0;
      background-image: none;
      margin-left: 0;
      span {
        display: none;
      }
    }
  }
  ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.banda-header {
  background:  url("images/banda_header.jpg") no-repeat;
  background-size: 500px 40px;
  margin-left: 6%;
  height: 40px;
}

/** Estilos generales del sitio, tipografias, etc **/

.field-type-text-long, .field-content p, p.field-content {
  
}

.view-agenda h3.field-content,
.view-display-id-book_block_home h3.field-content,
.view-boletin h3.field-content
{
}

#page-title .page-title {
  width: 33.333%
}

#block-views-agenda-next-events-node-block h3.field-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

h3.field-content{
  a {
    color: @link_gray;
  }
  a:hover {
    color: @hover_gray;
  }
  
}

.book-page-view h3 a {
  color: #2780AF;
}

.colored-text {
  color: #2780AF;
}

.popup-layout div.controls input[type="text"], .popup-layout div.controls input[type="password"] {
 width: 110px; 
}




#block-katakrak-language-switcher  {
  float: left;
  ul li {
    float: left;
    padding-left: 4px;
  }
  
}

#block-katakrak-language-switcher li.first:after {
  /*content: " /";*/
}

#block-katakrak-language-switcher{
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  a.active {
    font-weight: bold;
  }
  
}

/** User block */

#block-katakrak-katakrak-user-top {
  margin-top: 20px;
  float: left;
  a {
    font-size: 15px;
    color: @link_gray;
    color: @hover_gray;
    background: none;
  }
}

.popup-element-body table.popup-layout input {
  border: solid 1px @background_gray;
}
/*
#block-katakrak-katakrak-user-top a {
  text-decoration: none;
  background-color: #2780AF;
  color: #FFF;
  padding: 10px 20px;
  border-top: 1px solid #2780AF;
  border-right: 1px solid #2780AF;
  border-bottom: 1px solid #2780AF;
  border-left: 1px solid #2780AF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}*/

/** Cart block **/

#block-katakrak-katakrak-cart {
  float: left;
/*  margin-right: 15px;
  margin-top: 15px;*/
  .content{
    margin-top: 13px;
    margin-left: 5px;
    a 
    {
      color: #000;
      font-size: 20px;
      span {
        font-size: 12px;
      }
    }
  }
}


#content {
 margin-bottom: 50px; 
 .content-wrap {
   z-index: 3;
 }
}

.begiak {
  position: absolute;
  right: 10%;
}

#footer h6 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #FFFFFF
}

.banda-footer {
  background:  url("images/footer/banda_footer.jpg") no-repeat;
  height: 50px;
}

#footer {
    background:  url("images/patterns/Dark_pattern17.png") 100%;
    border-top: none;
    padding: 0 30px;
  }
  .footer-widgets-wrap {
    overflow: hidden;
    margin: 0 -40px -40px 0;
  }

/* BARRA REDES SOCIALES */

#boxes-box-footer {
  text-align: center;
}

/* Special regions */

/* HOME STYLES */

#block-katakrak-newsletter-suscribe {
  margin-bottom: 40px;
  div.suscribe-block {
    padding: 10px;
  }
  div.suscribe-block-help {
    font-size: 14px;
  }
}

#block-katakrak-newsletter-suscribe input[type="text"] {
  width: 100%;
}

.blue-envelope {
    color: #57B3DF;
}


#block-views-blog-block {
  margin-top: 10px;
}

/* ESTILOS PARA LIBRO */

.book-info-entry {
  border-bottom: 1px solid #eee;
}

.book-info-entry .book-price {
  color: #F50087;
  font-weight: bold;
}

.book-info-label {
  font-weight: bold;
}

.book-info-data {
  float: right;
}

.book-page .region-content {
  border-bottom: 2px #eee solid;
}

#block-katakrak-search-books-search-block {
  margin-top: 15px;
}

.books-search-block-help {
  /*text-transform: uppercase;*/
  font-size: 24px;
  margin: 15px 0;
}

view-id-libros .book-author {
  font-family: Din-next;
  font-size: 1.2em;
  color: #A0A0A0;
}

.block-title-author {
  width: 100%;
}
.book-title-author .col_three_fourth, .book-title-author .col_one_fourth {
  margin: 0;
}

.book-metadata {
  border-top: solid 2px #C0C0C0;
  padding-top: 20px;
}

.book-cover-not-found {
  padding-top: 50px;
  padding-bottom: 50px;
}

.views-bootstrap-grid-plugin-style .views-field-field-libro-autores {
  margin-bottom: 10px;
}

#block-libro-katakrak-libro-estilo{
  padding-top: 10px;
  h3 {
    a {
      color: @link_gray;
    }
    a:hover {
        color: @hover_gray;
      }
    font-weight: bold;
    font-size: 20px;
  }
}

.view-secciones {
  label {
    font-weight: normal;
    font-size: 24px;
    color: #777;
    cursor: auto;
  }
  select {
    margin-top: 10px;
    .rounded;
    font-size: 15px;
  }
}

#copyrights {
  border-top: none;
}

/** CHANGING DEFAULT THROBBER */
html.js input.form-autocomplete {
  background: #FFF url('images/mythrobber.gif') no-repeat 99% -100px;
}

html.js input.throbbing {
  background-position: 99% 50%;
}


/** Flexlider STYLES */

.view-display-id-kantina_home, .view-display-id-home{
  .views-field-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    position: absolute;
    z-index: 10;
    bottom: 0;
  }
  h3.field-content a {
    color: #FFF;
  }
}

.view-kantina .flexlider {
  box-shadow: none;
}

.kantina-page {
  .dedia {
    height: 100px;
    background: url(images/kantina/dedia.jpg) no-repeat;
  }
  .denoche {
    height: 100px;
    background: url(images/kantina/denoche.jpg) no-repeat;
  }
  .kantina-blog {
    height: 100px;
    background: url(images/kantina/blog.jpg) no-repeat;
  }
}

.pricing-title h4 {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding-bottom: 0;
  color: #444;
}

.pricing-features{
  li {
    font-size: 14px;
  }
  li:first-child {
    border-top: 1px solid #EEE;
  }
}

#block-views-kantina-block-page h2 {
  text-align: center;
}

/** Search Page **/ 

div.search-page-ol-left div.panel-pane {
  background: #d0d0d0;
  margin: 15px 0;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px; 
}

div.search-page-col-left div.panel-pane:first-child {
  margin-top: 0;
}

div.search-result {
  border-image: url("images/divider.png") 5 5;
}

div.search-results div:last-child {
  background: none;
}

/** Agenda styles **/

.agenda-page h1 {
  word-break: break-word;
}

.entry_date {
  float: none;
}

.entry_date div.month,
.entry_date div.day,
.entry_date div.weekday,
.entry_date div.hour {
  background-color: @custom_blue;
  color: #FFF;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  padding: 0 0 10px;
}

.entry_date div.day {
  font-weight: normal;
  padding: 10px 0 0;
  font-size: 32px;
  font-weight: 600;
}


#block-views-agenda-next-events-node-block .views-row {
  background-color: #eee;
  margin-bottom: 18px;
  padding: 10px;
  .rounded;
}

#block-views-agenda-next-events-node-block h3 a {
  color: @link_gray;
  word-break: break-word;
  :hover {
    color: @hover_gray;
  } 
}

#portfolio-filter {
  li {
    margin: 0 10px;
    border-radius: 5px;
    a{
      color: #000;
      padding-top: 5px;
      font-size: 1.2em;
    }
  } 
}
  

/** FORMS **/
#block-katakrak-newsletter-suscribe, #katakrak-books-search-form, #block-katakrak-search-katakrak-search-block  {
  padding: 10px;
  .rounded;
  background-color: @background_gray;
}

#block-katakrak-newsletter-suscribe {
  padding: 15px 10px 0 10px;
}

#block-katakrak-search-katakrak-search-block {
  padding: 15px 10px 1px 10px;
  margin-top: 15px;
}

#block-katakrak-search-katakrak-search-block select {
  width: 100%;
  height: 30px;
  margin-top: 2px;
}


.book-page-search-form input,  .book-page-search-form button{
  margin: 10px;
}

.book-page-search-form input[type="text"], #apachesolr-panels-search-form input[type="text"], #katakrak-search-form input[type="text"] {
  width: 95%;
}

.generate-fa-sizes(26);
/** Shopping cart and checkout **/

.view-commerce-cart-summary td, .commerce-line-item-views-form td {
  padding: 10px;
}
.view-commerce-cart-form,
#commerce-checkout-form-checkout,
.checkout_review
{
  font-size: 1.2em;
}

#block-katakrak-katakrak-cart .cart-empty  {
  color: @hover_gray;
}

#block-katakrak-katakrak-cart .cart {
  color: #F50087;
}

.view-id-commerce_cart_form .views-table,
.view-commerce-cart-summary .views-table,
#customer-profile-billing-ajax-wrapper,
#customer-profile-shipping-ajax-wrapper{
  background-color: #f0f0f0;
  .rounded;
}

.commerce-add-to-cart {
  button {
    .katakrak-button;
  }
  button:hover{
    .katakrak-button;
  }
}

.btn {
  .katakrak-button;
}

.btn:hover {
  .katakrak-button(#777, @background_gray, #000);
}

button.checkout-cancel {
  border: none !important;
}

#commerce-checkout-form-checkout, #commerce-checkout-form-review, #commerce-checkout-form-shipping {
  label.radio {
    .katakrak-button(@background_gray, @background_gray, #000);
    .rounded;
    float:left;
    max-width: 100px;
    height: 60px;
    margin: 5px 10px;
    input {
      display: none;
    }
  }
  label.btn-active {
  .katakrak-button;
}
}


span.fieldset-legend {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#customer-profile-billing-ajax-wrapper {
  border-radius: 10px 10px 0 0;
}

#customer-profile-shipping-ajax-wrapper {
  border-radius: 0 0 10px 10px;
}

.view-id-commerce_cart_form th {
  padding: 15px;
}

.line-item-total-raw, 
.component-type-commerce-price-formatted-amount .component-total {
  color: #F50087;
  font-weight: bold;
}

ul.pager{
  li {
    font-size: 13px;
  }
  li.pager-current {
    padding: 0 10px 0 10px;
    font-weight: bold;
  }
}



/*******************************************************************************
Irakurle taldeak
*******************************************************************************/

.pane-views-ciclos-block, .pane-views-libros-libros-grupo-lectura  {
  margin-top: 10px;
  .pane-title {
    background: black;
    color: #fff;
    text-transform: uppercase;
    padding: 11px;
  }
  .pane-content {
    margin-top: 10px;
  }
}

/*******************************************************************************
Eguneko menuak
*******************************************************************************/
.eguneko-menua {
  text-align: center;
  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
  p {
    margin-bottom: 10px;
  }
}

/*******************************************************************************
Responsiveness
*******************************************************************************/

@media (max-width: 767px) {
  #page-title .page-title {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #top-menu li a,
  #top-menu li span {
    font-size: 15px;
  }
  #block-katakrak-katakrak-cart .content{
    margin-top: 5px;
    a {
    font-size: 30px;
    }
  } 
  #logo img {
    display: block;
    max-width: 100%;
  }
  #primary-links {
    ul {
      li {
        float: left;
        position: relative;
      }
      ul{
        visibility: hidden;
        li {
          background-color: #57B3DF;
        }
      }
    }
  }
  #primary-links ul > li.sub-menu > a > div {
    background-image: url("images/icons/mainsubmenu.png");
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 16px;
  }
  #primary-links li:first-child a span {
  display: block;
  top: 0;
}

#primary-links ul li.current a,
#primary-links > ul > li:hover a,
#primary-links > ul > li.current-menu-ancestor > a,
#primary-links > ul > li.current-menu-parent > a,
#primary-links > ul > li.current-menu-item > a,
#primary-links > ul > li.current_page_parent > a,
#primary-links div ul li.current a,
#primary-links > div > ul > li:hover a,
#primary-links > div > ul > li.current-menu-ancestor > a,
#primary-links > div > ul > li.current-menu-parent > a,
#primary-links > div > ul > li.current-menu-item > a,
#primary-links > div > ul > li.current_page_parent > a,
#primary-links ul li.active-trail > a,
#primary-links ul li.active-trail > a span,
#primary-links ul li.active > a,
#primary-links ul li.active > a span {
  border-top-color: rgba(0,0,0,0.1);
  color: #F50087;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#primary-links > ul > li:hover a span,
#primary-links ul li.current a span,
#primary-links > ul > li.current-menu-ancestor a span,
#primary-links > ul > li.current-menu-parent a span,
#primary-links > ul > li.current-menu-item a span,
#primary-links > ul > li.current_page_parent a span,
#primary-links > div > ul > li:hover a span,
#primary-links > div ul li.current a span,
#primary-links > div > ul > li.current-menu-ancestor a span,
#primary-links > div > ul > li.current-menu-parent a span,
#primary-links > div > ul > li.current-menu-item a span,
#primary-links > div > ul > li.current_page_parent a span { color: #EEE; }


#primary-links ul li:hover > ul {
  display: block;
}


#primary-links ul ul li:first-child {
  border-top: 0;
  margin-top: 0;
}


#primary-links ul ul a:hover,
#primary-links ul ul li:hover > a {
  font-weight: bold;
  background-color: rgba(0,0,0,0.1);
} 

#primary-links ul ul ul li:first-child a { border-top: none; }



#primary-links ul > li.sub-menu:hover > a > div,
#primary-links ul li.current.sub-menu > a > div,
#primary-links > ul > li.current-menu-ancestor.sub-menu > a > div,
#primary-links > ul > li.current-menu-parent.sub-menu > a > div,
#primary-links > ul > li.current-menu-item.sub-menu > a > div,
#primary-links > ul > li.current_page_parent.sub-menu > a > div,
#header.header7 #primary-links ul > li.sub-menu:hover > a > div,
#header.header7 #primary-links ul li.current.sub-menu > a > div,
#header.header7 #primary-links > ul > li.current-menu-ancestor.sub-menu > a > div,
#header.header7 #primary-links > ul > li.current-menu-parent.sub-menu > a > div,
#header.header7 #primary-links > ul > li.current-menu-item.sub-menu > a > div,
#header.header7 #primary-links > ul > li.current_page_parent.sub-menu > a > div { background-image: url("images/icons/mainsubmenuh.png"); }

#primary-links ul ul > li.sub-menu > a,
#primary-links ul ul > li.sub-menu:hover > a {
  background-image: url("images/icons/submenu.png");
  background-position: right center;
  background-repeat: no-repeat;
}

#primary-links ul ul > li.sub-menu > a > div,
#primary-links ul ul > li.sub-menu:hover > a > div,
#header.header7 #primary-links ul ul > li.sub-menu > a > div,
#header.header7 #primary-links ul ul > li.sub-menu:hover > a > div {
  background-image: none;
  padding-right: 0;
} 
  
.container-banda {
  width: 1200px;
  margin: 0 auto;
  position: relative; 
}

}

@media only screen and (min-width: 1040px) {
  #logo {
/*    top: 40px;
    margin-left: 530px;*/

  }
}

.dropdown:hover .dropdown-menu {
display: block;
}