.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
}
.btn {
  margin-top: 10px;
}
.btn a {
  color: white;
}
.btn a:hover {
  color: #444444;
}
#portfolio-filter li {
  margin: 0 10px;
  padding: 10px;
  border-radius: 15px;
}
#portfolio-filter li a {
  padding-top: 5px;
  font-size: 1.2em;
}
/* ----------------------------------------------------------------
    Overrides
-----------------------------------------------------------------*/
.navbar-collapse.in {
  overflow-y: hidden;
}
/** Estilos generales del sitio, tipografias, etc **/
.field-type-text-long,
.field-content p,
p.field-content {
  font-size: 18px;
  line-height: 22px;
}
.view-agenda h3.field-content,
.view-ciclos h3.field-content,
.view-display-id-book_block_home h3.field-content,
.view-boletin h3.field-content {
  /*  font-size: 35px;
  line-height: 40px;
  font-weight: normal;*/

}
#page-title .page-title {
  width: 33.333%;
}
#block-views-agenda-next-events-node-block h3.field-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
h3.field-content a {
  color: #777777;
}
h3.field-content a:hover {
  color: #444444;
}
.book-page-view h3 a {
  color: #2780AF;
}
.colored-text {
  color: #2780AF;
}
.popup-layout div.controls input[type="text"],
.popup-layout div.controls input[type="password"] {
  width: 110px;
}
.entry_meta {
  color: #999;
  position: relative;
  margin: 0 -7px 10px 0;
}
.entry_meta a {
  color: #999;
}
.entry_meta span {
  margin: 0 7px 3px 0;
  font-size: 12px;
  color: #999;
}
.post-single .entry_meta {
  margin-bottom: 12px;
}
.entry_meta li {
  margin: 0 7px 3px 0;
  float: left;
  font-size: 12px;
  color: #999;
}
.entry_meta li a:hover {
  color: #57B3DF;
}
.entry_meta li i {
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 2px;
  font-size: 15px;
}
.entry_meta li span {
  display: inline-block;
  margin-right: 7px;
  font-size: 13px;
}
/* ----------------------------------------------------------------
    Top Bar
-----------------------------------------------------------------*/
#top-menu {
  position: relative;
  float: left;
  height: 40px;
}
#top-menu li {
  float: left;
  margin-left: 10px;
  height: 40px;
  text-shadow: 1px 1px 1px #FFF;
}
#top-menu li:first-child {
  margin-left: 0;
}
#top-menu li a,
#top-menu li span {
  display: block;
  float: left;
  position: relative;
  line-height: 20px;
  margin-top: 10px;
  color: #777;
  font-size: 12px;
}
#top-menu li span {
  color: #999;
}
#top-menu li a:hover {
  color: #57B3DF;
  border-bottom: 1px dotted #57B3DF;
}
#top-menu li span {
  margin-right: 10px;
  font-size: 14px;
}
#top-menu li:first-child span {
  display: none;
}
#top-menu li.top-menu-em a {
  position: relative;
  top: -1px;
  padding: 1px 6px;
  background-color: #57B3DF;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#top-menu li.top-menu-em a:hover {
  color: #FFF;
  border-bottom: none;
}
#top-social {
  position: relative;
  float: right;
  height: 40px;
  margin: 0 -30px 0 0;
}
#bottom-social {
  position: relative;
  height: 50px;
  margin: 0 -30px 0 0;
}
#bottom-social .content ul,
#top-menu .content ul {
  margin: 10px;
}
#bottom-social .content li,
#bottom-social .content li a,
#bottom-social li .ts-icon,
#bottom-social li .ts-text {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}
#bottom-social .content li,
#bottom-social .content li a,
#bottom-social li .ts-text {
  float: left;
  width: auto;
  overflow: hidden;
}
#bottom-social .content li a {
  width: 40px;
  line-height: 40px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#bottom-social li .ts-icon {
  float: left;
}
#bottom-social li.ts-facebook a {
  background-color: #3B5998;
}
#bottom-social li.ts-facebook .ts-icon {
  background: url("images/icons/social/facebook.png") no-repeat center center;
}
#bottom-social li.ts-twitter a {
  background-color: #3CF;
}
#bottom-social li.ts-twitter .ts-icon {
  background: url("images/icons/social/twitter.png") no-repeat center center;
}
#bottom-social li.ts-gplus a {
  background-color: #BD3518;
}
#bottom-social li.ts-gplus .ts-icon {
  background: url("images/icons/social/gplus.png") no-repeat center center;
}
#bottom-social li.ts-dribbble a {
  background-color: #D97AA5;
}
#bottom-social li.ts-dribbble .ts-icon {
  background: url("images/icons/social/dribbble.png") no-repeat center center;
}
#bottom-social li.ts-forrst a {
  background-color: #304C25;
}
#bottom-social li.ts-forrst .ts-icon {
  background: url("images/icons/social/forrst.png") no-repeat center center;
}
#bottom-social li.ts-blogger a {
  background-color: #FCA448;
}
#bottom-social li.ts-blogger .ts-icon {
  background: url("images/icons/social/blogger.png") no-repeat center center;
}
#bottom-social li.ts-flickr a {
  background-color: #FF0084;
}
#bottom-social li.ts-flickr .ts-icon {
  background: url("images/icons/social/flickr.png") no-repeat center center;
}
#bottom-social li.ts-pinterest a {
  background-color: #CB2027;
}
#bottom-social li.ts-pinterest .ts-icon {
  background: url("images/icons/social/pinterest.png") no-repeat center center;
}
#bottom-social li.ts-rss a {
  background-color: #F88F16;
}
#bottom-social li.ts-rss .ts-icon {
  background: url("images/icons/social/rss.png") no-repeat center center;
}
#bottom-social li.ts-vimeo a {
  background-color: #0590B8;
}
#bottom-social li.ts-vimeo .ts-icon {
  background: url("images/icons/social/vimeo.png") no-repeat center center;
}
#bottom-social li.ts-youtube a {
  background-color: #F33;
}
#bottom-social li.ts-youtube .ts-icon {
  background: url("images/icons/social/youtube.png") no-repeat center center;
}
#bottom-social li.ts-phone a {
  background-color: #4818AB;
}
#bottom-social li.ts-phone .ts-icon {
  background: url("images/icons/social/phone.png") no-repeat center center;
}
#bottom-social li.ts-mail a {
  background-color: #444;
}
#bottom-social li.ts-mail .ts-icon {
  background: url("images/icons/social/mail.png") no-repeat center center;
}
#bottom-social li.ts-linkedin a {
  background-color: #0A6495;
}
#bottom-social li.ts-linkedin .ts-icon {
  background: url("images/icons/social/linkedin.png") no-repeat center center;
}
/* ----------------------------------------------------------------
    Top Bar Style 2
-----------------------------------------------------------------*/
#top-bar.top-bar2 #top-menu {
  float: right;
}
#top-bar.top-bar2 #top-social {
  float: left;
  margin: 0 40px 0 -30px;
}
/* ----------------------------------------------------------------
    Header
-----------------------------------------------------------------*/
#top-bar {
  position: relative;
  background-color: #f7f7f7;
  height: 40px;
}
#header {
  background-color: #f0f0f0;
}
.navbar-default {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
/* ----------------------------------------------------------------
    Logo
-----------------------------------------------------------------*/
#logo {
  margin: 20px 0;
  /*  position: relative;
  float: left;
  height: 120px;
  max-width: 230px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 120px;*/

}
#logo a {
  display: block;
  color: #000;
}
#logo img {
  display: block;
  max-width: 60%;
}
#logo a.standard-logo {
  display: block;
}
#logo a.retina-logo {
  display: none;
}
/* ----------------------------------------------------------------
    Primary Menu
-----------------------------------------------------------------*/
#primary-links {
  margin-top: 30px;
}
#primary-links ul li {
  /*background: url("images/icons/menu-divider.png") no-repeat left center;*/

  /*background-color: black;*/

  margin-left: 5px;
}
#primary-links ul li i {
  margin-right: 2px;
}
#primary-links ul li a {
  display: inline-block;
  border-top: 4px solid transparent;
  padding: 20px 0 5px;
  width: 94px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
#primary-links ul li a span {
  display: block;
  margin-top: 2px;
  top: 0;
  color: #777777;
  font-size: 11px;
  font-weight: 400 !important;
  text-transform: capitalize;
}
#primary-links ul ul {
  /* Nested menu */

  z-index: 200;
  width: 200px;
  margin: 0;
  position: absolute;
  left: 0;
}
#primary-links ul ul a {
  display: block;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0 15px;
  margin-left: 20px;
  border: none;
  text-transform: capitalize;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#primary-links ul ul a span {
  display: none !important;
}
#primary-links ul ul li {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  background-image: none;
  margin-top: 1px;
}
#primary-links ul ul ul {
  margin: 0;
  left: 201px !important;
  top: 0;
  *top: 1px;
}
#primary-links ul li:first-child {
  padding-left: 0;
  background-image: none;
  margin-left: 0;
}
#primary-links ul li:first-child span {
  display: none;
}
#primary-links ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.banda_header {
  margin-left: 6%;
}
/** Estilos generales del sitio, tipografias, etc **/
#page-title .page-title {
  width: 33.333%;
}
#block-views-agenda-next-events-node-block h3.field-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
h3.field-content a {
  color: #777777;
}
h3.field-content a:hover {
  color: #444444;
}
.book-page-view h3 a {
  color: #2780AF;
}
.colored-text {
  color: #2780AF;
}
.popup-layout div.controls input[type="text"],
.popup-layout div.controls input[type="password"] {
  width: 110px;
}
#block-katakrak-language-switcher {
  float: left;
}
#block-katakrak-language-switcher ul li {
  float: left;
  padding-left: 4px;
}
#block-katakrak-language-switcher li.first:after {
  /*content: " /";*/

}
#block-katakrak-language-switcher a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
#block-katakrak-language-switcher a.active {
  font-weight: bold;
}
/** User block */
#block-katakrak-katakrak-user-top {
  margin-top: 20px;
  float: left;
}
#block-katakrak-katakrak-user-top a {
  font-size: 15px;
  color: #777777;
  color: #444444;
  background: none;
}
.popup-element-body table.popup-layout input {
  border: solid 1px #f0f0f0;
}
/*
#block-katakrak-katakrak-user-top a {
  text-decoration: none;
  background-color: #2780AF;
  color: #FFF;
  padding: 10px 20px;
  border-top: 1px solid #2780AF;
  border-right: 1px solid #2780AF;
  border-bottom: 1px solid #2780AF;
  border-left: 1px solid #2780AF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}*/
/** Cart block **/
#block-katakrak-katakrak-cart {
  float: left;
  /*  margin-right: 15px;
  margin-top: 15px;*/

}
#block-katakrak-katakrak-cart .content {
  margin-top: 13px;
  margin-left: 5px;
}
#block-katakrak-katakrak-cart .content a {
  color: #000;
  font-size: 20px;
}
#block-katakrak-katakrak-cart .content a span {
  font-size: 12px;
}
#content {
  margin-bottom: 50px;
}
#content .content-wrap {
  z-index: 3;
}
.begiak {
  position: absolute;
  right: 10%;
  margin-top: 10px;
}
#footer h6 {
  padding-top: 10px;
  padding-bottom: 5px;
  color: #ffffff;
}
#footer {
  background: url("images/patterns/Dark_pattern17.png") 100%;
  border-top: none;
  padding: 0 30px;
}
.footer-widgets-wrap {
  overflow: hidden;
}
/* BARRA REDES SOCIALES */
#boxes-box-footer {
  text-align: center;
}
/* Special regions */
/* HOME STYLES */
#block-katakrak-home-katakrak-home-promo-right span.glyphicon {
  color: rgba(39, 128, 175, 0.9);
}
#home-page-content-bottom {
  margin: 30px 0 20px 0;
  padding: 20px 0;
}
#home-page-content-bottom {
  background: #f0f0f0;
}
#block-katakrak-newsletter-suscribe input[type="text"] {
  width: 100%;
}
.view-display-id-book_block_home div.row {
  margin-top: 15px;
}
.view-display-id-book_block_home div.row:nth-child(1) {
  margin-top: 0;
}
.view-display-id-home .event-type {
  font-size: 18px;
}
#block-views-blog-block {
  margin-top: 10px;
}
/* ESTILOS PARA LIBRO */
.book-page span.glyphicon {
  float: left;
  padding-left: 15px;
  padding-right: 20px;
}
.book-info-entry {
  border-bottom: 1px solid #eee;
}
.book-info-entry .book-price {
  color: #F50087;
  font-weight: bold;
}
.book-info-label {
  font-weight: bold;
}
.book-info-data {
  float: right;
}
.book-page .region-content {
  border-bottom: 2px #eee solid;
}
#block-katakrak-search-books-search-block {
  margin-top: 15px;
}
.books-search-block-help {
  /*text-transform: uppercase;*/

  font-size: 24px;
  margin: 15px 0;
}
view-id-libros .book-author {
  font-family: Din-next;
  font-size: 1.2em;
  color: #A0A0A0;
}
.block-title-author {
  width: 100%;
}
.book-title-author .col_three_fourth,
.book-title-author .col_one_fourth {
  margin: 0;
}
.book-metadata {
  border-top: solid 2px #C0C0C0;
  padding-top: 20px;
}
.book-cover-not-found {
  padding-top: 50px;
  padding-bottom: 50px;
}
.views-bootstrap-grid-plugin-style .views-field-field-libro-autores {
  margin-bottom: 10px;
}
#block-libro-katakrak-libro-estilo {
  padding-top: 10px;
}
#block-libro-katakrak-libro-estilo h3 {
  font-weight: bold;
  font-size: 20px;
}
#block-libro-katakrak-libro-estilo h3 a {
  color: #777777;
}
#block-libro-katakrak-libro-estilo h3 a:hover {
  color: #444444;
}
.view-secciones label {
  font-weight: normal;
  font-size: 24px;
  color: #777;
  cursor: auto;
}
.view-secciones select {
  margin-top: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}
#copyrights {
  border-top: none;
}
/** CHANGING DEFAULT THROBBER */
html.js input.form-autocomplete {
  background: #ffffff url('images/mythrobber.gif') no-repeat 99% -100px;
}
html.js input.throbbing {
  background-position: 99% 50%;
}
/** Flexlider STYLES */
.view-display-id-kantina_home .views-field-title,
.view-display-id-home .views-field-title {
  width: 100%;
  background: rgba(39, 128, 175, 0.9);
  float: left;
  position: absolute;
  z-index: 10;
  bottom: 0;
}
.view-display-id-kantina_home h3,
.view-display-id-home h3 {
  color: #FFF;
  margin-left: 10px;
}
.view-display-id-kantina_home h3 span,
.view-display-id-home h3 span {
  color: #000;
}
.view-id-kantina .flexslider {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.view-id-kantina .flexslider ol.flex-control-thumbs {
  margin: 20px 0 0 0;
}
/* ----------------------------------------------------------------
    Kantina page
-----------------------------------------------------------------*/
.kantina-page .kantina_logo {
  text-align: center;
}
.kantina-page .kantina_navigation {
  margin-top: 15px;
}
.kantina-page .kantina_navigation .navigation-element {
  text-align: center;
}
.kantina-page .kantina_navigation a {
  color: #777777;
}
.kantina-page .kantina_navigation a.active {
  color: #000;
}
.kantina-page .view-kantina {
  margin-top: 40px;
}
.kantina-menu {
  text-align: center;
}
.kantina-menu .eguneko-menua {
  background-color: #FFE9BA;
}
.kantina-menu .gaueko-menua {
  background-color: #CDC4C9;
}
.kantina-menu h2 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0 9px 0;
}
.kantina-menu p {
  margin-bottom: 10px;
}
.kantina-menu .subseccion {
  padding-top: 5px;
}
.kantina-menu .dedia_divider {
  background-color: #FEB71A;
  height: 5px;
}
.kantina-menu .denoche_divider {
  background-color: #5A3C4A;
  height: 5px;
}
#block-views-kantina-block-page h2 {
  text-align: center;
}
ul.osagai-zerrenda {
  list-style: initial;
}
div.field-name-field-receta-cuerpo {
  max-width: 70%;
  font-size: 14px;
  line-height: 1.5em;
}
/** Search Page **/div.search-page-ol-left div.panel-pane {
  background: #d0d0d0;
  margin: 15px 0;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
div.search-page-col-left div.panel-pane:first-child {
  margin-top: 0;
}
div.search-result {
  border-image: url("images/divider.png") 5 5;
}
div.search-results div:last-child {
  background: none;
}
/** Agenda styles **/
.agenda-page h1 {
  word-break: break-word;
}
.agenda-page #block-views-agenda-isotope-filter {
  padding-top: 15px;
}
.agenda-page span.glyphicon {
  float: left;
  padding-left: 15px;
  padding-right: 20px;
}
.agenda-page #portfolio-filter li a {
  color: #FFFFFF;
  padding-top: 5px;
  font-size: 1.2em;
}
.agenda-page #portfolio-filter li a:hover {
  color: #000000;
}
.agenda-page #portfolio-filter li a.selected {
  color: #000000;
}
.entry_date {
  float: none;
}
.entry_date div.month,
.entry_date div.day,
.entry_date div.weekday,
.entry_date div.hour {
  background-color: #2780af;
  color: #FFF;
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  padding: 0 0 10px;
}
.entry_date div.day {
  font-weight: normal;
  padding: 10px 0 0;
  font-size: 32px;
  font-weight: 600;
}
#block-views-agenda-next-events-node-block .views-row {
  background-color: #eee;
  margin-bottom: 18px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
}
#block-views-agenda-next-events-node-block h3 a {
  color: #777777;
  word-break: break-word;
}
#block-views-agenda-next-events-node-block h3 a :hover {
  color: #444444;
}
/** FORMS **/
#block-katakrak-newsletter-suscribe,
#katakrak-books-search-form,
#block-katakrak-search-katakrak-search-block {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}
#katakrak-search-form .katakrak-button {
  float: right;
  margin-right: 96px;
  margin-top: -45px;
}
#block-katakrak-newsletter-suscribe {
  padding: 15px 10px 0 10px;
}
#block-katakrak-search-katakrak-search-block {
  padding: 15px 10px 1px 10px;
  margin-top: 15px;
}
#block-katakrak-search-katakrak-search-block select {
  width: 100%;
  height: 30px;
  margin-top: 2px;
}
.book-page-search-form input,
.book-page-search-form button {
  margin: 10px;
}
.book-page-search-form input[type="text"],
#apachesolr-panels-search-form input[type="text"] {
  width: 95%;
}
.fa-1x {
  font-size: 1em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-6x {
  font-size: 6em;
}
.fa-7x {
  font-size: 7em;
}
.fa-8x {
  font-size: 8em;
}
.fa-9x {
  font-size: 9em;
}
.fa-10x {
  font-size: 10em;
}
.fa-11x {
  font-size: 11em;
}
.fa-12x {
  font-size: 12em;
}
.fa-13x {
  font-size: 13em;
}
.fa-14x {
  font-size: 14em;
}
.fa-15x {
  font-size: 15em;
}
.fa-16x {
  font-size: 16em;
}
.fa-17x {
  font-size: 17em;
}
.fa-18x {
  font-size: 18em;
}
.fa-19x {
  font-size: 19em;
}
.fa-20x {
  font-size: 20em;
}
.fa-21x {
  font-size: 21em;
}
.fa-22x {
  font-size: 22em;
}
.fa-23x {
  font-size: 23em;
}
.fa-24x {
  font-size: 24em;
}
.fa-25x {
  font-size: 25em;
}
.fa-26x {
  font-size: 26em;
}
/** Shopping cart and checkout **/
.view-commerce-cart-summary td,
.commerce-line-item-views-form td {
  padding: 10px;
}
.view-commerce-cart-form,
#commerce-checkout-form-checkout,
.checkout_review {
  font-size: 1.2em;
}
#block-katakrak-katakrak-cart .cart-empty {
  color: #444444;
}
#block-katakrak-katakrak-cart .cart {
  color: #F50087;
}
.view-id-commerce_cart_form .views-table,
.view-commerce-cart-summary .views-table,
#customer-profile-billing-ajax-wrapper,
#customer-profile-shipping-ajax-wrapper {
  background-color: #f0f0f0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
}
.commerce-add-to-cart button {
  border-top: 2px solid #2780af;
  border-left: 2px solid #2780af;
  border-right: 2px solid #2780af;
  border-bottom: 2px solid #2780af;
  padding: 5px 10px !important;
  background: #2780af;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}
.commerce-add-to-cart button:hover {
  border-top: 2px solid #2780af;
  border-left: 2px solid #2780af;
  border-right: 2px solid #2780af;
  border-bottom: 2px solid #2780af;
  padding: 5px 10px !important;
  background: #2780af;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}
.btn {
  border-top: 2px solid #2780af;
  border-left: 2px solid #2780af;
  border-right: 2px solid #2780af;
  border-bottom: 2px solid #2780af;
  padding: 5px 10px !important;
  background: #2780af;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}
.btn:hover {
  border-top: 2px solid #777777;
  border-left: 2px solid #777777;
  border-right: 2px solid #777777;
  border-bottom: 2px solid #777777;
  padding: 5px 10px !important;
  background: #f0f0f0;
  text-transform: uppercase;
  color: #000000;
  margin-top: 15px;
}
button.checkout-cancel {
  border: none !important;
}
#commerce-checkout-form-checkout label.radio,
#commerce-checkout-form-review label.radio,
#commerce-checkout-form-shipping label.radio {
  border-top: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  padding: 5px 10px !important;
  background: #f0f0f0;
  text-transform: uppercase;
  color: #000000;
  margin-top: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  float: left;
  max-width: 100px;
  height: 60px;
  margin: 5px 10px;
}
#commerce-checkout-form-checkout label.radio input,
#commerce-checkout-form-review label.radio input,
#commerce-checkout-form-shipping label.radio input {
  display: none;
}
#commerce-checkout-form-checkout label.btn-active,
#commerce-checkout-form-review label.btn-active,
#commerce-checkout-form-shipping label.btn-active {
  border-top: 2px solid #2780af;
  border-left: 2px solid #2780af;
  border-right: 2px solid #2780af;
  border-bottom: 2px solid #2780af;
  padding: 5px 10px !important;
  background: #2780af;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}
span.fieldset-legend {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
#customer-profile-billing-ajax-wrapper {
  border-radius: 10px 10px 0 0;
}
#customer-profile-shipping-ajax-wrapper {
  border-radius: 0 0 10px 10px;
}
.view-id-commerce_cart_form th {
  padding: 15px;
}
.line-item-total-raw,
.component-type-commerce-price-formatted-amount .component-total {
  color: #F50087;
  font-weight: bold;
}
ul.pager li {
  font-size: 13px;
}
ul.pager li.pager-current {
  padding: 0 10px 0 10px;
  font-weight: bold;
}
/*******************************************************************************
Blog
*******************************************************************************/
.blog-page span.glyphicon {
  float: left;
  padding-left: 15px;
  padding-right: 20px;
}
/*******************************************************************************
Irakurle taldeak
*******************************************************************************/
.pane-views-ciclos-block,
.pane-views-libros-libros-grupo-lectura {
  margin-top: 10px;
}
.pane-views-ciclos-block .pane-title,
.pane-views-libros-libros-grupo-lectura .pane-title {
  background: black;
  color: #fff;
  text-transform: uppercase;
  padding: 11px;
}
.pane-views-ciclos-block .pane-content,
.pane-views-libros-libros-grupo-lectura .pane-content {
  margin-top: 10px;
}
/*******************************************************************************
Responsiveness
*******************************************************************************/
@media (max-width: 767px) {
  .banda_header {
    max-width: 90%;
  }
  .banda_footer {
    max-width: 90%;
  }
  #bottom-social {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  #top-menu li a,
  #top-menu li span {
    font-size: 15px;
  }
  #block-katakrak-katakrak-cart .content {
    margin-top: 5px;
  }
  #block-katakrak-katakrak-cart .content a {
    font-size: 30px;
  }
  #logo img {
    display: block;
    max-width: 100%;
  }
  #primary-links ul li {
    float: left;
    position: relative;
  }
  #primary-links ul li a {
    font-size: 18px;
  }
  #primary-links ul ul {
    /** Nested menu */
    visibility: hidden;
    z-index: 200;
    width: 150px;
    margin: 0;
    position: absolute;
    left: 0;
  }
  #primary-links ul ul a {
    display: block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    margin-left: 0;
    border: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  #primary-links ul ul a span {
    display: none !important;
  }
  #primary-links ul ul li {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    height: auto;
    border: none;
    background-image: none;
    margin-top: 1px;
  }
  #primary-links ul ul ul {
    margin: 0;
    left: 201px !important;
    top: 0;
    *top: 1px;
  }
  #primary-links ul ul li {
    background-color: #57B3DF;
  }
  #primary-links ul > li.sub-menu > a > div {
    background-image: url("images/icons/mainsubmenu.png");
    background-position: right top;
    background-repeat: no-repeat;
    /*padding-right: 16px;*/
  
  }
  #primary-links li:first-child a span {
    display: block;
    top: 0;
  }
  #primary-links ul li.current a,
  #primary-links > ul > li:hover a,
  #primary-links > ul > li.current-menu-ancestor > a,
  #primary-links > ul > li.current-menu-parent > a,
  #primary-links > ul > li.current-menu-item > a,
  #primary-links > ul > li.current_page_parent > a,
  #primary-links div ul li.current a,
  #primary-links > div > ul > li:hover a,
  #primary-links > div > ul > li.current-menu-ancestor > a,
  #primary-links > div > ul > li.current-menu-parent > a,
  #primary-links > div > ul > li.current-menu-item > a,
  #primary-links > div > ul > li.current_page_parent > a,
  #primary-links ul li.active-trail > a,
  #primary-links ul li.active-trail > a span,
  #primary-links ul li.active > a,
  #primary-links ul li.active > a span {
    border-top-color: rgba(0, 0, 0, 0.1);
    color: #F50087;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  #primary-links > ul > li:hover a span,
  #primary-links ul li.current a span,
  #primary-links > ul > li.current-menu-ancestor a span,
  #primary-links > ul > li.current-menu-parent a span,
  #primary-links > ul > li.current-menu-item a span,
  #primary-links > ul > li.current_page_parent a span,
  #primary-links > div > ul > li:hover a span,
  #primary-links > div ul li.current a span,
  #primary-links > div > ul > li.current-menu-ancestor a span,
  #primary-links > div > ul > li.current-menu-parent a span,
  #primary-links > div > ul > li.current-menu-item a span,
  #primary-links > div > ul > li.current_page_parent a span {
    color: #EEE;
  }
  #primary-links ul li:hover > ul {
    display: block;
  }
  #primary-links ul ul li:first-child {
    border-top: 0;
    margin-top: 0;
  }
  #primary-links ul ul a:hover,
  #primary-links ul ul li:hover > a {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #primary-links ul ul ul li:first-child a {
    border-top: none;
  }
  #primary-links ul > li.sub-menu:hover > a > div,
  #primary-links ul li.current.sub-menu > a > div,
  #primary-links > ul > li.current-menu-ancestor.sub-menu > a > div,
  #primary-links > ul > li.current-menu-parent.sub-menu > a > div,
  #primary-links > ul > li.current-menu-item.sub-menu > a > div,
  #primary-links > ul > li.current_page_parent.sub-menu > a > div,
  #header.header7 #primary-links ul > li.sub-menu:hover > a > div,
  #header.header7 #primary-links ul li.current.sub-menu > a > div,
  #header.header7 #primary-links > ul > li.current-menu-ancestor.sub-menu > a > div,
  #header.header7 #primary-links > ul > li.current-menu-parent.sub-menu > a > div,
  #header.header7 #primary-links > ul > li.current-menu-item.sub-menu > a > div,
  #header.header7 #primary-links > ul > li.current_page_parent.sub-menu > a > div {
    background-image: url("images/icons/mainsubmenuh.png");
  }
  #primary-links ul ul > li.sub-menu > a,
  #primary-links ul ul > li.sub-menu:hover > a {
    background-image: url("images/icons/submenu.png");
    background-position: right center;
    background-repeat: no-repeat;
  }
  #primary-links ul ul > li.sub-menu > a > div,
  #primary-links ul ul > li.sub-menu:hover > a > div,
  #header.header7 #primary-links ul ul > li.sub-menu > a > div,
  #header.header7 #primary-links ul ul > li.sub-menu:hover > a > div {
    background-image: none;
    padding-right: 0;
  }
  .container-banda {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  #block-katakrak-home-katakrak-home-promo-right span.glyphicon {
    float: left;
  }
  #block-katakrak-home-katakrak-home-promo-right .promo-right-text {
    padding-left: 90px;
  }
  #block-katakrak-home-katakrak-home-promo-right .promo-right-text h3 {
    margin: 0 !important;
  }
  #block-katakrak-home-katakrak-home-promo-right .promo-right-text h3 a {
    color: #000;
  }
  #block-katakrak-home-katakrak-home-promo-right div.promo-right-first {
    margin-top: 60px;
  }
  #block-katakrak-home-katakrak-home-promo-right div.promo-right {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1040px) {
  #logo {
    /*    top: 40px;
      margin-left: 530px;*/
  
  }
}
.dropdown:hover .dropdown-menu {
  display: block;
}
