/* ----------------------------------------------------------------
    
    This CSS File contains the List of all the Custom Fonts
    used in the Theme. Use will need to change the following
    in order to use the new font.
    
    font-family: 'Your New Font Name';
    font-weight: {valid font weights}; eg. bold, normal, 600 etc.
    
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
    Texto corrido
-----------------------------------------------------------------*/
body, 
blockquote,
.entry_content ul,
.entry_content ol,
.slide-caption,
.rs-caption,
.nivo-caption,
.countdown_amount,
.wp-caption,
.sitemap ul,
.well.callout p,
.quote, 
.content p
{ 
  font-family: "Open Sans", "Slabo 13px";
}

h1,
h2,
h3,
h4,
h5,
h6,
#logo,
#header,
#main-menu li a,
#main-menu li a span,
.slide-caption2,
#lp-contacts li,
#portfolio-filter li a,
.entry_meta li a,
.comment-content .comment-author,
.sitemap,
.promo-desc > span,
.promo-action a,
.error404,
.tab_widget ul.tabs li a,
.toggle .togglet,
.toggle .toggleta,
.team-image span,
.team-skills li,
.skills li span,
.simple-button,
.pricing-price .price-tenure,
.acctitle,
.acctitlec,
.testimonial-item .testi-author,
.widget_nav_menu li,
.widget_links li,
.widget_meta li,
.widget_archive li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_categories li,
.widget_pages li,
.entry_date,
#block-katakrak-language-switcher a,
.texto_principal,
.books-search-block-help
.view-secciones label,
.itinerario-libro-tipo,
.circle,
.view-secciones label, button,
.entry_meta,
.date-display-single{
  font-family: "Ropa Sans", sans-serif;
}

h1, h3, .month {
  /*text-transform: uppercase;*/
}

.weekday {
  text-transform: lowercase;
}

h1 {
  font-size: 20px;
}
h3 {
  font-size: 14px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
}