.view-commerce-cart-summary td, .commerce-line-item-views-form td {
  padding: 10px;
}

#header {
  height: 243px; 
  background-image: url("../images/fondo.png");
  background-size: 1666px 243px;
}

#logo {
  top: 40px;
  margin-left: 300px;
}

/* Language block*/
#block-katakrak-language-switcher {
  float: right;
}

#block-katakrak-language-switcher ul li {
  float: left;
  padding-left: 4px;
}

#block-katakrak-language-switcher li.last:before {
  content: "/ ";
}

#block-katakrak-language-switcher a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

#block-katakrak-language-switcher a.active {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
